<div class="men individual aa">
	<small class="pull-right"><i>Men's Rankings Updated </i></small>

 <h4>All Around Ranking</h4>
</div>
<div class="men individual fx">
	<small class="pull-right"><i>Men's Rankings Updated </i></small>

 <h4>Floor Ranking</h4>
</div>
<div class="men individual ph">
	<small class="pull-right"><i>Men's Rankings Updated </i></small>

 <h4>Pommel Horse Ranking</h4>
</div>
<div class="men individual sr">
	<small class="pull-right"><i>Men's Rankings Updated </i></small>

 <h4>Rings Ranking</h4>
</div>
<div class="men individual v">
	<small class="pull-right"><i>Men's Rankings Updated </i></small>

 <h4>Vault Ranking</h4>
</div>
<div class="men individual pb">
	<small class="pull-right"><i>Men's Rankings Updated </i></small>

 <h4>Parallel Bars Ranking</h4>
</div>
<div class="men individual hb">
	<small class="pull-right"><i>Men's Rankings Updated </i></small>
	
 <h4>High Bar Ranking</h4>
</div>