<div class="women team t">
	<small class="pull-right"><i>Women's Rankings Updated </i></small>

 <h4>Women's Team Ranking</h4>
</div>
<div class="women team v">
	<small class="pull-right"><i>Women's Rankings Updated </i></small>

 <h4>Women's Vault Ranking</h4>
</div>
<div class="women team ub">
	<small class="pull-right"><i>Women's Rankings Updated </i></small>

 <h4>Women's Uneven Bars Ranking</h4>
</div>
<div class="women team bb">
	<small class="pull-right"><i>Women's Rankings Updated </i></small>

 <h4>Women's Balance Beam Ranking</h4>
</div>
<div class="women team fx">
	<small class="pull-right"><i>Women's Rankings Updated </i></small>

 <h4>Women's Floor Ranking</h4>
</div>