<div class="women individual aa">
	<small class="pull-right"><i>Women's Rankings Updated </i></small>

 <h4>Women's All Around Ranking</h4>
</div>
<div class="women individual v">
	<small class="pull-right"><i>Women's Rankings Updated </i></small>

 <h4>Women's Vault Ranking</h4>
</div>
<div class="women individual ub">
	<small class="pull-right"><i>Women's Rankings Updated </i></small>

 <h4>Women's Uneven Bars Ranking</h4>
</div>
<div class="women individual bb">
	<small class="pull-right"><i>Women's Rankings Updated </i></small>

 <h4>Women's Balance Beam Ranking</h4>
</div>
<div class="women individual fx">
	<small class="pull-right"><i>Women's Rankings Updated </i></small>

 <h4>Women's Floor Ranking</h4>
</div>